# IDL Configuration File

# IDL_CPP_LOCATION configures the C-Pre-Processor for the IDL Compiler
# It can be the fully qualified path with the executable name or just
# the executable name
#IDL_CPP_LOCATION = "%PRODUCT_BIN_DIR_PATH%/idl_cpp";
#IDL_CPP_ARGUMENTS = ${IDL_CPP_ARGUMENTS};
#tmp_dir = "${TMPDIR}";

IDLPlugins = "Cplusplus, POACxx, IFR, PSSDLCxx, PSSRCxx, Java, POAJava";

Cplusplus
{
        Switch = "base";
       	ShlibName = "it_cxx_ibe";
	ShlibMajorVersion = "4";
        IsDefault = "NO";
        PresetOptions = "-t";

#       Header and StubExtension set the generated files extension 
#       The Default is .cxx and .hh
#
#       StubExtension = "cxx";
#       HeaderExtension = "hh";
};

POACxx
{
        Switch = "poa";
        ShlibName = "it_poa_cxx_ibe";
	ShlibMajorVersion = "4";
        IsDefault = "NO";
        PresetOptions = "-t";

#       Header and StubExtension set the generated files extension 
#       The Default is .cxx and .hh
#
#       StubExtension = "cxx";
#       HeaderExtension = "hh";
};

IFR
{
        Switch = "R";
        ShlibName = "it_ifr_ibe";
	ShlibMajorVersion = "4";
        IsDefault = "NO";
        PresetOptions = "";
};


PSSDLCxx
{
        Switch = "psdl";
        ShlibName = "it_pss_cxx_ibe";
	ShlibMajorVersion = "4";
        IsDefault = "NO";
        PresetOptions = "-t";
        UsePSSDLGrammar = "YES";

#       Header and StubExtension set the generated files extension 
#       The Default is .cxx and .hh
#
#       StubExtension = "cxx";
#       HeaderExtension = "hh";
};

PSSRCxx
{
        Switch = "pss_r";
        ShlibName = "it_pss_r_cxx_ibe";
	ShlibMajorVersion = "4";
        IsDefault = "NO";
        PresetOptions = "-t";
        UsePSSDLGrammar = "YES";

#       Header and StubExtension set the generated files extension 
#       The Default is .cxx and .hh
#
#       StubExtension = "cxx";
#       HeaderExtension = "hh";
};

Java
{
	Switch = "jbase";
	ShlibName = "it_java_ibe";
	ShlibMajorVersion = "4";
        PresetOptions = "";
	IsDefault = "NO";
};

POAJava
{
	Switch = "jpoa";
	ShlibName = "it_poa_java_ibe";
	ShlibMajorVersion = "4";
        PresetOptions = "";
	IsDefault = "NO";
};
