# 
# IDLgen configuration file.
# 


# Basic IDLgen settings
#
idlgen {
    # The genie_search_path is automatically set by idlgen
    # You can extend the standard search path by defining an entry
    # like this:
    # genie_search_path = [ "/home/fred/genies" ];

    # Names of types to be returned by idlgen_list_builtin_types
    #
    builtin_types = [ 
        "short", "long", "unsigned short", "unsigned long",
        "long long", "unsigned long long",
        "float", "double", "long double",
        "boolean", "octet", "char", "string",
        "wchar", "wstring",
        "any", "Object", "CORBA::TypeCode"
    ];

    # Directory for temporary files.
    #
    tmp_dir = "c:\temp";
};


# Default settings for genies.
#
# Note: Entries which start with "want_" or "is_" are boolean switches
# and should be given values of either "true" or "false".
#
default {
    # Defaults that apply to all genies.
    #
    all {
        # Do you want diagnostic messages from genies?
        #
        want_diagnostics    = "true";

        # Text of a copyright message to put at the top
        # of generated files.
        #
        copyright        = [
    	    "Edit the idlgen.cfg to have your own copyright notice placed here."
        ];

	# Specify the object adapter type that you wish to use
        object_adapter_type = "poa";

    };


    # Defaults for all genies that generate C++ code.
    #
    cpp {
        # File extensions for C++ code and header files.
        #
        cc_file_ext        = ".cxx";
        h_file_ext        = ".h";

        # Suffix for C++ servant classes that implement
        # IDL interfaces
        #
        impl_class_suffix    = "Impl";

        # The maximum amount of padding which can be used to vertically
        # align parameter and variable names in the code.
        #
        max_padding_for_types    = "32";
    };

    # Defaults that apply to genies that generate HTML files.
    #
    html {
        # File extension for HTML files.
        #
        file_ext        = ".html";
    };

    # Defaults for the C++ POA genie
    #
    cpp_poa_genie {

        # File extension for object reference files.
        # Test clients and servers use these files to pass object references.
        #
        ref_file_ext   = ".ref";

        # Extra flags to pass to the IDL and C++ compilers and the C++
        # linker when run by the generated makefile. 
	#
        idl_flags = "-I$(ART_IDL_INCLUDE_DIR)";
        cpp_flags = "";
        link_flags= "";

        # ----------------
        # Note: Remaining defaults can be overridden by command line arguments.

        # Generate code for #included IDL files.
        want_include =     "false";

        # Generate code for servant classes to implement IDL interfaces.
        want_servant =     "false";

        # Generate a test client main.
        want_client =      "false";

        # Generate a test server main.
        want_server =      "false";

        # Generate a makefile to build the test client and server.
        want_makefile =    "false";

        # Use the POA tie approach instead of direct inheritance from
        # POA skeleton classes.
        want_tie =         "false";

        # If IDL interfaces inherit from each other, do you want the
        # servants for those interfaces to have corresponding inheritance?
        want_inherit =     "true";

        # Override the _default_POA function on each servant.
        # This is a good idea to ensure that a call to _this() does not 
        # does not accidentally activate a servant in the Root POA.
        want_default_poa = "true";

        # Do you want servants to be reference-counted.
        # This is essential for multi-threaded servers, but often not
        # required for single threaded servers.
        want_refcount =    "false";

        # Do you want the generated code to use _var variables to
        # simplify memory management?
        want_var =         "true";

        # Do you want a complete client which makes calls with random values,
        # and complete servants that print out parameters and return random
        # values? (The alternative is a skeletal servants and client code
        # that requires additions before it will be useful.)
        want_complete =    "true";

        # Do you want the server to use the multi-threaded POA policy?
        # True implies that calls can be dispatched to servants
        # in multiple threads simultaneously. False means that all calls
        # for servants will be serialised to the main thread.
        want_threads =     "false";

        # Do you want server to advertise objects to the client via
        # the CORBA naming service? If not object references are
        # written to file and read from a simple text file. 
        want_ns = "false";

    };

    java_genie {

       # File extension for object reference files.
       # Test clients and servers use these files to pass object references.
       ref_file_ext   = ".ref";

       #-----------------------------------------------------------------
       # Remaining options can be overridden by command line arguments.

       # The package that the java generated code will be contained in
       package_name = "TestPackage";

       # Generate code for #included IDL files.
       want_include =     "false";

       # Generate code for servant classes to implement IDL interfaces.
       want_servant =     "false";

       # Generate a test client main.
       want_client =      "false";

       # Generate a test server main.
       want_server =      "false";

       # Generate a makefile to build the test client and server.
       want_antfile =    "true";

       # Use the POA tie approach instead of direct inheritance from
       # POA skeleton classes.
       want_tie =         "false";

       # If IDL interfaces inherit from each other, do you want the
       # servants for those interfaces to have corresponding inheritance?
       want_inherit =     "true";

       # Override the _default_POA function on each servant.
       # This is a good idea to ensure that a call to _this() does not
       # accidentally activate a servant in the Root POA.
       want_default_poa = "true";

       # Do you want a complete client which makes calls with random values,
       # and complete servants that print out parameters and return random
       # values? (The alternative is a skeletal servants and client code
       # that requires additions before it will be useful.)
       want_complete =    "true";

       # Do you want the server to use the multi-threaded POA policy?
       # True implies that calls can be dispatched to servants
       # in multiple threads simultaneously. False means that all calls
       # for servants will be serialised to the main thread.
       want_threads =     "false";

       # Do you want server to advertise objects to the client via
       # the CORBA naming service? If not object references are
       # written to file and read from a simple text file.
       want_threads =     "false";

       # Do you want server to advertise objects to the client via
       # the CORBA naming service? If not object references are
       # written to file and read from a simple text file.
       want_ns = "false";

       #--------------------------------------------------------------

    };
    
    #-----------------------------------------
    # Details about your version of Orbix 
    #-----------------------------------------
    product {

       # Orbix version number: 1.1?
       version_number = "5.1";
    };

    java {

       # The directory where your jdk is installed
       java_install_dir = "<jdk_install_dir>";

       # The file extension to be used when creating java files
       java_file_ext = ".java";

       # The suffix to be added when creating an implemention class file
       impl_class_suffix = "Impl";

       # The prefix to be used when creating files that call random
       # functions
       random_prefix = "Random";

       # The prefix to be used when creating files that call print
       # functions
       print_prefix = "Print";

       # The package name into which the Print and Random classes will go
       printpackage_name = "idlgen";

       # The indent size to be used in the generated files
       indent = "   ";

       # Do you want java_doc comments to be created for the
       # generated code?
       want_javadoc_comments = "false";

       # Maximum padding
       max_padding_for_types = "32";

       # The variable name to be used when an attribute is passed
       # as a parameter
       attr_mod_param_name = "_new_value";

       # The variable name to be used for the return value
       ret_param_name = "_result";

       # A server name that could be used by your genies - this isn't
       # used by the java_poa_genie
       server_name = "server";
   };

};    


