<!--
body { 
background-color: white;
background-image: none; // none | url("imagename.jpg")
}

body.header {
background-image: url("../icons/header-bg.gif"); // none | url("imagename.jpg")
}
body.footer {
}
body.instr {
}
body.vis {
}
body.props {
}
body.controls {
background-image: url("../icons/controlsbg.gif");
background-repeat: no-repeat;
}

.titlestyle { 
font-family: 'Arial,Helvetica';
font-size: 14pt;
font-weight: bold;
color: black;
text-align: left;}

.authorstyle { 
font-family: 'Arial,Helvetica';
font-size: 10pt;
font-weight: bold;
text-align: right;}

.datestyle { 
font-family: 'Arial,Helvetica';
font-size: 10pt;
color: black;
text-align: right;}

.company { 
font-family: 'Arial,Helvetica';
font-size: 10pt;
color: black;
text-align: center;}

.description { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
text-align: center;}

.comment { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
font-weight: bold;
text-align: center;}

.toc { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
font-weight: bold;
text-align: center;}

.BOMheading { 
font-family: 'Arial,Helvetica';
font-size: 10pt;
font-weight: bold;
text-align: center;}

.bomentry { 
font-family: 'Arial,Helvetica';
font-size: 8pt;
text-align: left;}

.BOMName { 
font-family: 'Arial,Helvetica';
font-size: 8pt;
vertical-align: middle;
}

.step { 
font-family: 'Arial,Helvetica';
font-size: 8pt;
font-weight: bold;}

.instr { 
font-family: 'Arial,Helvetica';
font-size: 8pt;
vertical-align: middle;
}

.instrnote { 
font-family: 'Arial, Helvetica';
font-size: 8pt;
vertical-align: middle;
margin-left: 2em;
font-weight: bold;
color: red;
}

div.instrnote :link {
color: #FF0000
}
div.instrnote :active {
color: #FF0000
}
div.instrnote :visited {
color: #FF0000
}
div.instrnote :hover {
color: #0000FF
}

A
{
    TEXT-DECORATION: none

}

.instr :visited {
color: #000000
}

.instr :link {
color: #000000
}

.instr :active {
color: #000000
}

.instr :hover {
color: #FF0000
}

.credits { 
font-family: 'Arial,Helvetica';
color: black;
font-size: 8pt;
}

.credits :link {
color: red
}

.credits :hover {
color: white
}

.credits :active {
color: red
}

.credits :visited {
color: red
}

body,p,div,span,th,td{font-family:arial,sans-serif;font-size:11px}
.tbTD{background-color:#36c}
.tb{color:white;text-decoration:none}
.tb:hover{color:white;text-decoration:underline}
.tbA{color:#339;text-decoration:none}
.tbA:hover{color:#339;text-decoration:underline}

.menuItem {font-family:sans-serif;font-size:8pt;width:100;padding-left:20;
   background-Color:menu;color:black}
.highlightItem {font-family:sans-serif;font-size:8pt;width:100;padding-left:20;
   background-Color:highlight;color:white}
.clickableDiv {padding:4;width:500;background-Color:blue;color:white;border:10px double blue}

.rowover { behavior:url(rowover.htc); }
-->