<!--
body { 
background-color: #FFFFFF;
background-image: none; // none | url("imagename.jpg")
}

body.header {
}
body.footer {
}
body.instr {
}
body.vis {
}
body.props {
}
body.controls {
background-image: url("../icons/controlsbg.gif");
background-repeat: no-repeat;
}

.titlestyle { 
font-family: 'Arial,Helvetica';
font-size: 24pt;
font-weight: bold;
font-color: #FFFFFF;
text-align: center;}

.authorstyle { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
font-weight: bold;
text-align: right;}

.datestyle { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
text-align: right;}

.company { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
text-align: center;}

.description { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
text-align: center;}

.comment { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
font-weight: bold;
text-align: center;}

.toc { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
font-weight: bold;
text-align: center;}

.BOMheading { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
font-weight: bold;
text-align: center;}

.bomentry { 
font-family: 'Arial,Helvetica';
font-size: 10pt;
text-align: left;}

.step { 
font-family: 'Arial,Helvetica';
font-size: 12pt;
font-weight: bold;}

.instr { 
font-family: 'Arial,Helvetica';
font-size: 9pt;
vertical-align: middle;
}

.instrnote { 
font-family: 'Arial, Helvetica';
font-size: 9pt;
vertical-align: middle;
margin-left: 2em;
font-weight: bold;
color: red;
}

div.instrnote :link {
color: #FF0000
}
div.instrnote :active {
color: #FF0000
}
div.instrnote :visited {
color: #FF0000
}
div.instrnote :hover {
color: #0000FF
}

.instr :visited {
color: #000000
}

.instr :link {
color: #000000
}

.instr :active {
color: #000000
}

.instr :hover {
color: #FF0000
}

.credits { 
font-family: 'Arial,Helvetica';
font-size: 8pt;
}
-->