BODY, TD {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color: black;
}

A {
	text-decoration: none;
	color: Black;
	}

A:Hover {
	text-decoration: underline;
	color: Blue;
}

.se-tdbar {
        font-family: Arial;
        font-size: 10pt;
        font-weight:bold;
        text-decoration: none; 
        color: #00843d;
 
}
td.se-tdbar {
        background-image: url("../images/toolgrad.jpg");
        background-repeat: repeat-x;
        border: 2px solid #00843d;
        padding-left: 1mm;
        background-repeat: repeat-x;
        background-color: #00843d;
}


td.left {
        border-left: 2px solid #00843d;
}

td.right {
       border-right: 2px solid #00843d;
}

td.top  {
        border-top: 2px solid #00843d;
}
td.bottom  {
        border-bottom: 2px solid #00843d;
}
td.bothbottom  {
        border-bottom: 2px solid #00843d;
        border-left: 2px solid #00843d;
	border-right: 2px solid #00843d;
}
td.leftbottom  {
        border-bottom: 2px solid #00843d;
        border-left: 2px solid #00843d;
}
td.rightbottom  {
        border-bottom: 2px solid #00843d;
        border-right: 2px solid #00843d;
}

td.both { 
       border-left: 2px solid #00843d;
	   border-right: 2px solid #00843d;

 }
td.toprght {
       border-right: 2px solid #00843d;
	   border-top: 2px solid #00843d;
}
td.topleft {
       border-left: 2px solid #00843d;
	   border-top: 2px solid #00843d;
}
td.box  {
        border-top: 1px solid #00843d;
        border-left: 1px solid #00843d;
	border-right: 1px solid #00843d;
        border-bottom: 1px solid #00843d;
}























