/*=(===============================================================)*/

/*=(===============================================================)*/
/*=(Created with RoboEditor.)=======================================*/
/*=(===============================================================)*/


/*begin-old-version{{*/

 /* $MVD$:color("18","e8ffff","Background","0") */
 /* $MVD$:fontset("Courier New","Courier New") */
 /* $MVD$:fontset("Arial","Arial") */
 /* $MVD$:fontset("Tahoma","Tahoma") */
 P.ListBulleted { font-style : normal;
                  font-variant : normal;
                  font-weight : normal;
                  background-color : transparent;
                  background-image : none;
                  text-transform : none;
                  text-align : left;
                  list-style-type : disc;
                  list-style-position : outside;
                  list-style-image : none;
                  vertical-align : Baseline;}
 .mvd-P-ListBulleted { font-style : normal;
                       font-variant : normal;
                       font-weight : normal;
                       background-color : transparent;
                       background-image : none;
                       text-transform : none;
                       text-align : left;
                       list-style-type : disc;
                       list-style-position : outside;
                       list-style-image : none;
                       vertical-align : Baseline;}
 P.ListBulletedNested { font-style : normal;
                        font-variant : normal;
                        font-weight : normal;
                        background-color : transparent;
                        background-image : none;
                        text-transform : none;
                        text-align : left;
                        list-style-type : disc;
                        list-style-position : outside;
                        list-style-image : none;
                        vertical-align : Baseline;
                        margin-left : 16.0pt;}
 .mvd-P-ListBulletedNested { font-style : normal;
                             font-variant : normal;
                             font-weight : normal;
                             background-color : transparent;
                             background-image : none;
                             text-transform : none;
                             text-align : left;
                             list-style-type : disc;
                             list-style-position : outside;
                             list-style-image : none;
                             vertical-align : Baseline;
                             margin-left : 16.0pt;}
 P.ListNumbered { font-style : normal;
                  font-variant : normal;
                  font-weight : normal;
                  background-color : transparent;
                  background-image : none;
                  text-transform : none;
                  text-align : left;
                  list-style-type : decimal;
                  list-style-position : outside;
                  list-style-image : none;
                  vertical-align : Baseline;}
 .mvd-P-ListNumbered { font-style : normal;
                       font-variant : normal;
                       font-weight : normal;
                       background-color : transparent;
                       background-image : none;
                       text-transform : none;
                       text-align : left;
                       list-style-type : decimal;
                       list-style-position : outside;
                       list-style-image : none;
                       vertical-align : Baseline;}
 P.ListNumberedNested { font-style : normal;
                        font-variant : normal;
                        font-weight : normal;
                        background-color : transparent;
                        background-image : none;
                        text-transform : none;
                        text-align : left;
                        list-style-type : upper-alpha;
                        list-style-position : outside;
                        list-style-image : none;
                        vertical-align : Baseline;
                        margin-left : 16.0pt;}
 .mvd-P-ListNumberedNested { font-style : normal;
                             font-variant : normal;
                             font-weight : normal;
                             background-color : transparent;
                             background-image : none;
                             text-transform : none;
                             text-align : left;
                             list-style-type : upper-alpha;
                             list-style-position : outside;
                             list-style-image : none;
                             vertical-align : Baseline;
                             margin-left : 16.0pt;}
 P.ListTitle { font-style : normal;
               font-variant : normal;
               font-weight : bold;
               background-color : transparent;
               background-image : none;
               text-decoration :underline;
               text-transform : none;
               text-align : left;
               vertical-align : Baseline;
               line-height : normal;
               margin-left : 16.0pt;}
 .mvd-P-ListTitle { font-style : normal;
                    font-variant : normal;
                    font-weight : bold;
                    background-color : transparent;
                    background-image : none;
                    text-decoration :underline;
                    text-transform : none;
                    text-align : left;
                    vertical-align : Baseline;
                    line-height : normal;
                    margin-left : 16.0pt;}
 P.Graphic { text-align : left;
             color : black;}
 .mvd-P-Graphic { text-align : left;
                  color : black;}
 P.GraphicNestedOnce { background-color : transparent;
                       background-image : none;
                       text-align : left;
                       border : none;
                       margin-left : 28.0pt;
                       padding : 2.0pt;}
 .mvd-P-GraphicNestedOnce { background-color : transparent;
                            background-image : none;
                            text-align : left;
                            margin-left : 28.0pt;
                            padding : 2.0pt;}
 P.GraphicNestedTwice { background-color : transparent;
                        background-image : none;
                        text-align : left;
                        border : none;
                        margin-left : 42.0pt;
                        padding : 2.0pt;}
 .mvd-P-GraphicNestedTwice { background-color : transparent;
                             background-image : none;
                             text-align : left;
                             margin-left : 42.0pt;
                             padding : 2.0pt;}
 P.Note { font-style : normal;
          font-variant : normal;
          font-weight : normal;
          background-color : transparent;
          text-transform : none;
          text-align : left;
          color : navy;
          vertical-align : middle;
          padding-left : 6.0pt;}
 .mvd-P-Note { font-style : normal;
               font-variant : normal;
               font-weight : normal;
               background-color : transparent;
               text-transform : none;
               text-align : left;
               color : navy;
               vertical-align : middle;
               padding-left : 6.0pt;}
 P.Syntax { font-family : "Courier New";
            font-size : 8.0pt;
            background-color : #FFFFE8;
            background-image : none;
            text-transform : none;
            text-align : left;
            list-style-type : none;
            color : navy;
            border : solid navy thin;
            vertical-align : Baseline;
            margin-left : 10.0pt;
            margin-right : 10.0pt;
            padding : 3.0pt;}
 .mvd-P-Syntax { font-family : "Courier New";
                 font-size : 8.0pt;
                 background-color : #FFFFE8;
                 background-image : none;
                 text-transform : none;
                 text-align : left;
                 list-style-type : none;
                 color : navy;
                 vertical-align : Baseline;
                 margin-left : 10.0pt;
                 margin-right : 10.0pt;
                 padding : 3.0pt;}
 H1 { font-family : "Arial";
      font-weight : normal;
      font-size : 18.0pt;
      background-color : navy;
      text-align : left;
      color : white;
      border-bottom : solid white 1.0pt;
      margin-left : 6.0pt;
      margin-right : 6.0pt;
      margin-top : 0.0pt;
      margin-bottom : 1.0pt;}
 .mvd-H1 { font-family : "Arial";
           font-weight : normal;
           font-size : 18.0pt;
           background-color : navy;
           text-align : left;
           color : white;
           margin-left : 6.0pt;
           margin-right : 6.0pt;
           margin-top : 0.0pt;
           margin-bottom : 1.0pt;}
 CITE.expandspot { font-style : normal;
                   color : green;
                   cursor: hand;}
 .mvd-CITE-expandspot { font-style : normal;
                        color : green;
                        cursor: hand;}
 DFN.collapsed { font-style : italic;
                 font-weight : normal;
                 display :                                                                              'none';
                 color : red;}
 .mvd-DFN-collapsed { font-style : italic;
                      font-weight : normal;
                      display :                                                                              'none';
                      color : red;}
 DFN.expanded { font-style : italic;
                font-weight : normal;
                color : red;}
 .mvd-DFN-expanded { font-style : italic;
                     font-weight : normal;
                     color : red;}
 EM.dropspot { color : green;
               cursor: hand;}
 .mvd-EM-dropspot { color : green;
                    cursor: hand;}
 H2 { font-family : "Arial";
      font-weight : normal;
      font-size : 14.0pt;
      background-color : navy;
      text-align : left;
      color : white;
      border-bottom : double white thin;
      margin-left : 6.0pt;
      margin-right : 6.0pt;
      margin-top : 0.0pt;
      margin-bottom : 0.0pt;}
 .mvd-H2 { font-family : "Arial";
           font-weight : normal;
           font-size : 14.0pt;
           background-color : navy;
           text-align : left;
           color : white;
           margin-left : 6.0pt;
           margin-right : 6.0pt;
           margin-top : 0.0pt;
           margin-bottom : 0.0pt;}
 H3 { font-family : "Arial";
      font-weight : normal;
      font-size : 14.0pt;
      text-decoration : none;
      text-align : left;
      color : navy;
      margin-left : 6.0pt;
      margin-right : 6.0pt;
      margin-top : 6.0pt;
      margin-bottom : 4.0pt;}
 .mvd-H3 { font-family : "Arial";
           font-weight : normal;
           font-size : 14.0pt;
           text-decoration : none;
           text-align : left;
           color : navy;
           margin-left : 6.0pt;
           margin-right : 6.0pt;
           margin-top : 6.0pt;
           margin-bottom : 4.0pt;}
 H4 { font-family : "Arial";
      font-weight : bold;
      font-size : 10.0pt;
      text-decoration :underline;
      text-align : left;
      color : navy;
      margin-left : 6.0pt;
      margin-right : 6.0pt;
      margin-top : 6.0pt;
      margin-bottom : 4.0pt;}
 .mvd-H4 { font-family : "Arial";
           font-weight : bold;
           font-size : 10.0pt;
           text-decoration :underline;
           text-align : left;
           color : navy;
           margin-left : 6.0pt;
           margin-right : 6.0pt;
           margin-top : 6.0pt;
           margin-bottom : 4.0pt;}
 P { font-family : "Arial";
     font-style : normal;
     font-variant : normal;
     font-weight : normal;
     font-size : 10.0pt;
     background-color : transparent;
     text-transform : none;
     text-align : left;
     list-style-type : none;
     color : black;
     border : none;
     vertical-align : Baseline;
     line-height : normal;
     margin-left : 6.0pt;
     margin-right : 6.0pt;
     margin-top : 0.0pt;
     margin-bottom : 6.0pt;}
 .mvd-P { font-family : "Arial";
          font-style : normal;
          font-variant : normal;
          font-weight : normal;
          font-size : 10.0pt;
          background-color : transparent;
          text-transform : none;
          text-align : left;
          list-style-type : none;
          color : black;
          vertical-align : Baseline;
          line-height : normal;
          margin-left : 6.0pt;
          margin-right : 6.0pt;
          margin-top : 0.0pt;
          margin-bottom : 6.0pt;}
 BODY { background-color : white;
        background-image : none;}
 .mvd-BODY { background-color : white;
             background-image : none;}
 P.HeadingBuffer { background-color : navy;
                   background-image : none;
                   margin-bottom : 12.0pt;}
 .mvd-P-HeadingBuffer { background-color : navy;
                        background-image : none;
                        margin-bottom : 12.0pt;}
 P.TipHeading { font-style : normal;
                font-variant : normal;
                font-weight : bold;
                text-transform : none;
                text-align : left;
                color : navy;
                vertical-align : Baseline;
                margin-left : 14.0pt;
                margin-right : 14.0pt;}
 .mvd-P-TipHeading { font-style : normal;
                     font-variant : normal;
                     font-weight : bold;
                     text-transform : none;
                     text-align : left;
                     color : navy;
                     vertical-align : Baseline;
                     margin-left : 14.0pt;
                     margin-right : 14.0pt;}
 P.TipText { text-align : left;
             list-style-type : disc;
             list-style-position : outside;
             list-style-image : none;
             color : navy;}
 .mvd-P-TipText { text-align : left;
                  list-style-type : disc;
                  list-style-position : outside;
                  list-style-image : none;
                  color : navy;}
 PLAINTEXT.RoadMap { font-family : "Tahoma";
                     font-style : normal;
                     font-variant : normal;
                     font-weight : bold;
                     font-size : 10.0pt;
                     text-decoration :underline;
                     color : navy;}
 .mvd-PLAINTEXT-RoadMap { font-family : "Tahoma";
                          font-style : normal;
                          font-variant : normal;
                          font-weight : bold;
                          font-size : 10.0pt;
                          text-decoration :underline;
                          color : navy;}
 P.ListBulletedGraphic { text-align : left;
                         list-style-type : none;
                         list-style-position : outside;
                         list-style-image : url("Bullet_p.gif");}
 .mvd-P-ListBulletedGraphic { text-align : left;
                              list-style-type : none;
                              list-style-position : outside;
                              list-style-image : url("Bullet_p.gif");}
 PLAINTEXT.Field { font-weight : bold;
                   color : navy;}
 .mvd-PLAINTEXT-Field { font-weight : bold;
                        color : navy;}
 P.TipText2 { text-align : left;
              list-style-type : disc;
              list-style-position : outside;
              list-style-image : none;
              color : navy;}
 .mvd-P-TipText2 { text-align : left;
                   list-style-type : disc;
                   list-style-position : outside;
                   list-style-image : none;
                   color : navy;}
 P.GlossaryHead { font-weight : bold;
                  color : navy;}
 .mvd-P-GlossaryHead { font-weight : bold;
                       color : navy;}
 CITE.glossterm { font-style : normal;
                  color : maroon;
                  cursor: hand;}
 .mvd-CITE-glossterm { font-style : normal;
                       color : maroon;
                       cursor: hand;}
 DFN.glosscollapsed { font-style : italic;
                      font-weight : normal;
                      display :                                                        'none';
                      color : blue;}
 .mvd-DFN-glosscollapsed { font-style : italic;
                           font-weight : normal;
                           display :                                                        'none';
                           color : blue;}
 DFN.glossexpanded { font-style : italic;
                     font-weight : normal;
                     color : blue;}
 .mvd-DFN-glossexpanded { font-style : italic;
                          font-weight : normal;
                          color : blue;}
 P.OH1 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-bottom : 0.0pt;}
 .mvd-P-OH1 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-bottom : 0.0pt;}
 P.OH2 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 16.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH2 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 16.0pt;
              margin-bottom : 0.0pt;}
 P.OH3 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 26.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH3 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 26.0pt;
              margin-bottom : 0.0pt;}
 P.OH4 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 36.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH4 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 36.0pt;
              margin-bottom : 0.0pt;}
 P.OH5 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 46.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH5 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 46.0pt;
              margin-bottom : 0.0pt;}
 P.OH6 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 56.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH6 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 56.0pt;
              margin-bottom : 0.0pt;}
 P.OH7 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 66.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH7 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 66.0pt;
              margin-bottom : 0.0pt;}
 P.OH8 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 76.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH8 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 76.0pt;
              margin-bottom : 0.0pt;}
 P.OH9 { font-style : normal;
         font-variant : normal;
         font-weight : normal;
         background-color : transparent;
         background-image : none;
         text-transform : none;
         text-align : left;
         list-style-type : none;
         border : none;
         vertical-align : Baseline;
         margin-left : 86.0pt;
         margin-bottom : 0.0pt;}
 .mvd-P-OH9 { font-style : normal;
              font-variant : normal;
              font-weight : normal;
              background-color : transparent;
              background-image : none;
              text-transform : none;
              text-align : left;
              list-style-type : none;
              vertical-align : Baseline;
              margin-left : 86.0pt;
              margin-bottom : 0.0pt;}
 P.OH10 { font-style : normal;
          font-variant : normal;
          font-weight : normal;
          background-color : transparent;
          background-image : none;
          text-transform : none;
          text-align : left;
          list-style-type : none;
          border : none;
          vertical-align : Baseline;
          line-height : normal;
          margin-left : 96.0pt;
          margin-bottom : 0.0pt;}
 .mvd-P-OH10 { font-style : normal;
               font-variant : normal;
               font-weight : normal;
               background-color : transparent;
               background-image : none;
               text-transform : none;
               text-align : left;
               list-style-type : none;
               vertical-align : Baseline;
               line-height : normal;
               margin-left : 96.0pt;
               margin-bottom : 0.0pt;}
 P.OH11 { font-style : normal;
          font-variant : normal;
          font-weight : normal;
          background-color : transparent;
          background-image : none;
          text-transform : none;
          text-align : left;
          list-style-type : none;
          border : none;
          vertical-align : Baseline;
          margin-left : 106.0pt;
          margin-bottom : 0.0pt;}
 .mvd-P-OH11 { font-style : normal;
               font-variant : normal;
               font-weight : normal;
               background-color : transparent;
               background-image : none;
               text-transform : none;
               text-align : left;
               list-style-type : none;
               vertical-align : Baseline;
               margin-left : 106.0pt;
               margin-bottom : 0.0pt;}
 P.OH12 { font-style : normal;
          font-variant : normal;
          font-weight : normal;
          background-color : transparent;
          background-image : none;
          text-transform : none;
          text-align : left;
          list-style-type : none;
          border : none;
          vertical-align : Baseline;
          margin-left : 116.0pt;}
 .mvd-P-OH12 { font-style : normal;
               font-variant : normal;
               font-weight : normal;
               background-color : transparent;
               background-image : none;
               text-transform : none;
               text-align : left;
               list-style-type : none;
               vertical-align : Baseline;
               margin-left : 116.0pt;}
 H5 { font-family : "Arial";
      font-weight : bold;
      font-size : 10.0pt;
      color : navy;
      margin-left : 6.0pt;
      margin-right : 6.0pt;
      margin-top : 6.0pt;
      margin-bottom : 4.0pt;}
 .mvd-H5 { font-family : "Arial";
           font-weight : bold;
           font-size : 10.0pt;
           color : navy;
           margin-left : 6.0pt;
           margin-right : 6.0pt;
           margin-top : 6.0pt;
           margin-bottom : 4.0pt;}
 H6 { }
 .mvd-H6 { }
 LISTING { }
 .mvd-LISTING { }
 P.NormalIndent { margin-left : 18.0pt;}
 .mvd-P-NormalIndent { margin-left : 18.0pt;}
 P.ControlIndent { font-weight : bold;
                   margin-left : 18.0pt;}
 .mvd-P-ControlIndent { font-weight : bold;
                        margin-left : 18.0pt;}
 P.Control { font-weight : bold;}
 .mvd-P-Control { font-weight : bold;}
 
/*}}end-old-version*/
P.ListBulleted {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	vertical-align: Baseline;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CListBulleted {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
}
/*}}end!kadov=======================================================*/ 



P.ListBulletedNested {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	vertical-align: Baseline;
	margin-left: 16.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CListBulletedNested {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
}
/*}}end!kadov=======================================================*/ 



P.ListNumbered {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: decimal;
	list-style-position: outside;
	list-style-image: none;
	vertical-align: Baseline;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CListNumbered {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: decimal;
	list-style-position: outside;
	list-style-image: none;
}
/*}}end!kadov=======================================================*/ 



P.ListNumberedNested {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: upper-alpha;
	list-style-position: outside;
	list-style-image: none;
	vertical-align: Baseline;
	margin-left: 16.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CListNumberedNested {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: upper-alpha;
	list-style-position: outside;
	list-style-image: none;
}
/*}}end!kadov=======================================================*/ 



P.ListTitle {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	background-color: transparent;
	background-image: none;
	x-text-underline: normal;
	text-transform: none;
	text-align: left;
	vertical-align: Baseline;
	line-height: normal;
	margin-left: 16.0pt;
	/*begin!kadov{{*/ text-decoration: underline; /*}}end!kadov*/ 
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CListTitle {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	x-text-underline: normal;
	text-transform: none;
	text-align: left;
	line-height: normal;
	text-decoration: underline;
}
/*}}end!kadov=======================================================*/ 



P.Graphic {
	text-align: left;
	color: #000000;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CGraphic {
	text-align: left;
	color: #000000;
}
/*}}end!kadov=======================================================*/ 



P.GraphicNestedOnce {
	background-color: transparent;
	background-image: none;
	text-align: left;
	border: none;
	margin-left: 28.0pt;
	padding: 2.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CGraphicNestedOnce {
	text-align: left;
}
/*}}end!kadov=======================================================*/ 



P.GraphicNestedTwice {
	background-color: transparent;
	background-image: none;
	text-align: left;
	border: none;
	margin-left: 42.0pt;
	padding: 2.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CGraphicNestedTwice {
	text-align: left;
}
/*}}end!kadov=======================================================*/ 



P.Note {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	text-transform: none;
	text-align: left;
	color: #000080;
	vertical-align: middle;
	padding-left: 6.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CNote {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	color: #000080;
}
/*}}end!kadov=======================================================*/ 



P.Syntax {
	font-family: "Courier New";
	font-size: 8.0pt;
	background-color: #FFFFE8;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	color: #000080;
	border: solid #000080 thin;
	vertical-align: Baseline;
	margin-left: 10.0pt;
	margin-right: 10.0pt;
	padding: 3.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CSyntax {
	font-family: "Courier New";
	font-size: 8.0pt;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	color: #000080;
}
/*}}end!kadov=======================================================*/ 



H1 {
	font-family: Arial;
	font-weight: normal;
	font-size: 18.0pt;
	background-color: #000080;
	text-align: left;
	color: #ffffff;
	border-bottom: solid #ffffff 1.0pt;
	margin-left: 6.0pt;
	margin-right: 6.0pt;
	margin-top: 0.0pt;
	margin-bottom: 1.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H1 {
	font-family: Arial;
	font-weight: normal;
	font-size: 18.0pt;
	text-align: left;
	color: #ffffff;
}
/*}}end!kadov=======================================================*/ 



H2 {
	font-family: Arial;
	font-weight: normal;
	font-size: 14.0pt;
	background-color: #000080;
	text-align: left;
	color: #ffffff;
	border-bottom: double #ffffff thin;
	margin-left: 6.0pt;
	margin-right: 6.0pt;
	margin-top: 0.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H2 {
	font-family: Arial;
	font-weight: normal;
	font-size: 14.0pt;
	text-align: left;
	color: #ffffff;
}
/*}}end!kadov=======================================================*/ 



H3 {
	font-family: Arial;
	font-weight: normal;
	font-size: 14.0pt;
	x-text-underline: off;
	x-text-overline: off;
	x-text-line-through: off;
	text-align: left;
	color: #000080;
	margin-left: 6.0pt;
	margin-right: 6.0pt;
	margin-top: 6.0pt;
	margin-bottom: 4.0pt;
	/*begin!kadov{{*/ text-decoration: none none none; /*}}end!kadov*/ 
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H3 {
	font-family: Arial;
	font-weight: normal;
	font-size: 14.0pt;
	x-text-underline: off;
	x-text-overline: off;
	x-text-line-through: off;
	text-align: left;
	color: #000080;
	text-decoration: none none none;
}
/*}}end!kadov=======================================================*/ 



H4 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10.0pt;
	x-text-underline: normal;
	text-align: left;
	color: #000080;
	margin-left: 6.0pt;
	margin-right: 6.0pt;
	margin-top: 6.0pt;
	margin-bottom: 4.0pt;
	/*begin!kadov{{*/ text-decoration: underline; /*}}end!kadov*/ 
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H4 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10.0pt;
	x-text-underline: normal;
	text-align: left;
	color: #000080;
	text-decoration: underline;
}
/*}}end!kadov=======================================================*/ 



P {
	font-family: Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10.0pt;
	background-color: transparent;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	color: #000000;
	border: none;
	vertical-align: Baseline;
	line-height: normal;
	margin-left: 6.0pt;
	margin-right: 6.0pt;
	margin-top: 0.0pt;
	margin-bottom: 6.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P {
	font-family: Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10.0pt;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	color: #000000;
	line-height: normal;
}
/*}}end!kadov=======================================================*/ 



BODY {
	background-color: #ffffff;
	background-image: none;
}

P.HeadingBuffer {
	background-color: #000080;
	background-image: none;
	margin-bottom: 12.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CHeadingBuffer {
}
/*}}end!kadov=======================================================*/ 



P.TipHeading {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-transform: none;
	text-align: left;
	color: #000080;
	vertical-align: Baseline;
	margin-left: 14.0pt;
	margin-right: 14.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CTipHeading {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-transform: none;
	text-align: left;
	color: #000080;
}
/*}}end!kadov=======================================================*/ 



P.TipText {
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	color: #000080;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CTipText {
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	color: #000080;
}
/*}}end!kadov=======================================================*/ 



PLAINTEXT.RoadMap {
	font-family: Tahoma;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 10.0pt;
	x-text-underline: normal;
	color: #000080;
	/*begin!kadov{{*/ text-decoration: underline; /*}}end!kadov*/ 
}

P.ListBulletedGraphic {
	text-align: left;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: url(Bullet_p.gif);
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CListBulletedGraphic {
	text-align: left;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: url(Bullet_p.gif);
}
/*}}end!kadov=======================================================*/ 



PLAINTEXT.Field {
	font-weight: bold;
	color: #000080;
}

P.TipText2 {
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	color: #000080;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CTipText2 {
	text-align: left;
	list-style-type: disc;
	list-style-position: outside;
	list-style-image: none;
	color: #000080;
}
/*}}end!kadov=======================================================*/ 



P.GlossaryHead {
	font-weight: bold;
	color: #000080;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CGlossaryHead {
	font-weight: bold;
	color: #000080;
}
/*}}end!kadov=======================================================*/ 



P.OH1 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH1 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH2 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 16.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH2 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH3 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 26.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH3 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH4 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 36.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH4 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH5 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 46.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH5 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH6 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 56.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH6 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH7 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 66.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH7 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH8 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 76.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH8 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH9 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 86.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH9 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH10 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	line-height: normal;
	margin-left: 96.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH10 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	line-height: normal;
}
/*}}end!kadov=======================================================*/ 



P.OH11 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 106.0pt;
	margin-bottom: 0.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH11 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



P.OH12 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	text-align: left;
	list-style-type: none;
	border: none;
	vertical-align: Baseline;
	margin-left: 116.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-COH12 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: none;
	text-align: left;
	list-style-type: none;
}
/*}}end!kadov=======================================================*/ 



H5 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000080;
	margin-left: 6.0pt;
	margin-right: 6.0pt;
	margin-top: 6.0pt;
	margin-bottom: 4.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H5 {
	font-family: Arial;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000080;
}
/*}}end!kadov=======================================================*/ 



H6 {
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H6 {
}
/*}}end!kadov=======================================================*/ 



P.NormalIndent {
	margin-left: 18.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CNormalIndent {
}
/*}}end!kadov=======================================================*/ 



P.ControlIndent {
	font-weight: bold;
	margin-left: 18.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CControlIndent {
	font-weight: bold;
}
/*}}end!kadov=======================================================*/ 



P.Control {
	font-weight: bold;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CControl {
	font-weight: bold;
}
/*}}end!kadov=======================================================*/ 



A.expandspot {
	cursor: hand;
	color: #008000;
	font-style: normal;
}

SPAN.expandtext {
	color: #ff0000;
	font-weight: normal;
	font-style: italic;
}

A.dropspot {
	font-style: italic;
	cursor: hand;
	color: #008000;
}

A.glossterm {
	cursor: hand;
	color: #800000;
	font-style: normal;
}

SPAN.glosstext {
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

P.Listing {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	font-size: xx-small;
	font-family: monospace;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CListing {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	font-size: xx-small;
	font-family: monospace;
}
/*}}end!kadov=======================================================*/ 




/*=(===============================================================)*/
