A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    TEXT-DECORATION: underline
}
BODY
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
P
{
    MARGIN-TOP: 1px;
    MARGIN-BOTTOM: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN-LEFT: 20px;
    TEXT-INDENT: -20px;
    PADDING-TOP: 1px
}
IMG
{
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    BACKGROUND-IMAGE: url(..\images\mainbg.jpg);
    BORDER-LEFT: thin;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: thin
}
