BODY, TD { font-family : Arial, Helvetica, sans-serif; font-size : 10pt; color: 
black; } A { text-decoration: none; color: Black; } A:Hover { text-decoration: 
underline; color: Blue; } .se-tdbar { font-family: Arial; font-size: 10pt; font-weight:bold; 
text-decoration: none; color: #003399; } td.se-tdbar { background-image: url("../images/toolgrad.gif"); 
background-repeat: repeat-x; border: 1px solid #cccccc; padding-left: 1mm; background-repeat: 
repeat-x; background-color: #9ebff6; } td.left { border-left: 2px solid #cccccc; 
} td.right { border-right: 2px solid #cccccc; } td.top { border-top: 2px solid 
#cccccc; } td.bottom { border-bottom: 2px solid #cccccc; } td.bothbottom { border-bottom: 
2px solid #cccccc; border-left: 2px solid #cccccc; border-right: 2px solid #cccccc; 
} td.leftbottom { border-bottom: 2px solid #cccccc; border-left: 2px solid #cccccc; 
} td.rightbottom { border-bottom: 2px solid #cccccc; border-right: 2px solid #cccccc; 
} td.both { border-left: 2px solid #cccccc; border-right: 2px solid #cccccc; } 
td.toprght { border-right: 2px solid #cccccc; border-top: 2px solid #cccccc; } 
td.topleft { border-left: 2px solid #cccccc; border-top: 2px solid #cccccc; } 
td.box { border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 
1px solid #cccccc; border-bottom: 1px solid #cccccc; } 