.menuitem{
	font-family: Areal;
	font-size: 10pt;
	background:#fafafa;
	CURSOR: hand; 
	border-bottom:solid 1pt #fafafa;
	border-top:solid 1pt #fafafa;
	border-right:solid 1pt #fafafa;
	border-left:solid 1pt #fafafa;
}

.menuitemImage
{
	background-image:url(jwebbrowserpopupmenubk.gif);
	width: 22px;
	CURSOR: hand; 
}

.menuitemImage img
{
	width:12;
	height:12;
	border:0;
}

.menuitemhilited
{
	font-family: Areal;
	font-size: 10pt;
	background:#fee197;
	CURSOR: hand; 
	border-bottom:solid 1pt #737B92;
	border-top:solid 1pt #737B92;
	border-right:solid 1pt #737B92;
	border-left:solid 1pt #737B92;
}

.menuitemImagehilited
{
	background-image:url(toolgrad.gif);
	width: 22px;
	CURSOR: hand; 
}

.menuitemImagehilited img
{
	width:12;
	height:12;
	border:0;
}

.menuseperator{
	FONT-SIZE: 1px; 
	WIDTH: 100%; 
	LINE-HEIGHT: 1px; 
	HEIGHT: 1px; 
	BACKGROUND-COLOR: #6a8ccb;
	COLOR: #6a8ccb
}

.jwebbrowsermenuskin
{
	border:1pt solid #2254b1;
	background-color:#fafafa;
	width:200;
	height:220;
}