TD
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000cc;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000cc;
    TEXT-DECORATION: underline
}
.se-tdbar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #003399;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TD.se-tdbar
{
    BORDER-RIGHT: #95b7f3 1px solid;
    BORDER-TOP: #95b7f3 1px solid;
    PADDING-LEFT: 1mm;
    BACKGROUND-IMAGE: url(../images/toolgrad.gif);
    BORDER-LEFT: #95b7f3 1px solid;
    BORDER-BOTTOM: #95b7f3 1px solid;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-COLOR: #9ebff6
}
TD.left
{
    BORDER-LEFT: #9ebff6 2px solid
}
TD.right
{
    BORDER-RIGHT: #9ebff6 2px solid
}
TD.top
{
    BORDER-TOP: #9ebff6 2px solid
}
TD.bottom
{
    BORDER-BOTTOM: #9ebff6 2px solid
}
TD.bothbottom
{
    BORDER-RIGHT: #9ebff6 2px solid;
    BORDER-LEFT: #9ebff6 2px solid;
    BORDER-BOTTOM: #9ebff6 2px solid
}
TD.leftbottom
{
    BORDER-LEFT: #9ebff6 2px solid;
    BORDER-BOTTOM: #9ebff6 2px solid
}
TD.rightbottom
{
    BORDER-RIGHT: #9ebff6 2px solid;
    BORDER-BOTTOM: #9ebff6 2px solid
}
TD.both
{
    BORDER-RIGHT: #9ebff6 2px solid;
    BORDER-LEFT: #9ebff6 2px solid
}
TD.toprght
{
    BORDER-RIGHT: #9ebff6 2px solid;
    BORDER-TOP: #9ebff6 2px solid
}
TD.topleft
{
    BORDER-TOP: #9ebff6 2px solid;
    BORDER-LEFT: #9ebff6 2px solid
}
TD.box
{
    BORDER-RIGHT: #9ebff6 1px solid;
    BORDER-TOP: #9ebff6 1px solid;
    BORDER-LEFT: #9ebff6 1px solid;
    BORDER-BOTTOM: #9ebff6 1px solid
}
BODY
{
    BACKGROUND-COLOR: #ffffff
}
BODY
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
P
{
    MARGIN-TOP: -10px;
    MARGIN-LEFT: 10px;
}
DIV
{
}
